name: Audit

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  audit:
    name: Pip Audit
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python and uv
        uses: ./.github/actions/setup-python-uv
        with:
          python-version: "3.13"

      - name: uv sync (runtime deps)
        run: |
          uv sync --frozen

      - name: Run pip-audit
        run: |
          uvx pip-audit -r <(uv export --format requirements-txt)
